#map {
    width: 100%;
    height: 100%;
    /* Asegura que el mapa Leaflet no robe clics del control */
    touch-action: none;

    border-radius: 20px;
    border: 1px solid #556;
}

/* --------------------------------------
 * 1. Estilos del Contenedor de Leyenda
 * -------------------------------------- */

/* Estilos para el contenedor de la leyenda (clase 'info' de Leaflet) */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    /* Transparencia suave */
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1000;
    line-height: 1.5;
}

/* Estilos para el título de la leyenda */
.info h4 {
    margin: 0 0 5px;
    color: #333;
    font-size: 16px;
    text-align: left;
}

/* --------------------------------------
 * 2. Estilos de los Íconos de Leyenda
 * -------------------------------------- */

.legend {
    color: black;
    text-align: left;
}

/* Estilos para los bloques de color dentro de la leyenda (etiqueta <i>) */
.legend i {
    width: 18px;
    height: 18px;
    float: none;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 6px;
    border-radius: 3px;
    opacity: 0.9;
    border: 1px solid #666;
    vertical-align: middle;
}

.info div {
    display: flex; /* Usamos Flexbox en el div generado */
    justify-content: flex-start;
    align-items: center; /* Centra verticalmente color y texto */
    margin-bottom: 5px; /* Espacio entre ítems */
}

/* --------------------------------------
 * 3. Estilos de Control de Capas
 * -------------------------------------- */

/* Ajuste general del control de capas de Leaflet */
.leaflet-control-layers {
    cursor: pointer;
    margin-top: 10px;
}